flask
flask-sqlalchemy
flask-login
flask-wtf
email-validator
requests
pandas
joblib
psutil
weasyprint
jinja2
scikit-learn
werkzeug
scapy
celery
redis
python-owasp-zap-v2.4
beautifulsoup4
paramiko
pysmb
