flask
flask-sqlalchemy
flask-login
flask-wtf
email-validator
requests
pandas
joblib
psutil
weasyprint
jinja2
scikit-learn
werkzeug
scapy
celery
redis
python-owasp-zap-v2.4
beautifulsoup4
paramiko
pysmb
pyarrow
fastparquet
matplotlib
seaborn
xgboost
lightgbm
sentence-transformers
torch
torch-geometric
networkx
scipy
shap
flask-mail
APScheduler
google-auth
google-auth-oauthlib
google-api-python-client
stem>=1.8.0
PySocks>=1.7.1
requests[socks]>=2.28.0
